<nav class="navbar navbar-expand-sm navbar-light bg-faded border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand font-weight-bold" href="#">
        <span class="p-1 pl-2 pr-2"
            style="font-size:x-small;color: #3f3f3f; font-weight: bold; border:2px solid #3f3f3f;">AI</span>
        &nbsp;&nbsp;Instinct AI</a>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-between border-left border-right pl-3 pr-3" id="nav-content">
        <p class="navbar-nav text-muted small" style="width:63% ;">AI engine to analyze chat conversations, detecting
            user intent, answering queries automatically and handling off-target conversations.</p>
        <div class="navbar-nav">
            <a href="#" class="btn btn-outline-muted border text-dark nav-link dropdown-toggle" id="navbardrop"
                data-toggle="dropdown">
                <i class="fa fa-qrcode"></i> +91 63456768
            </a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item"></a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-bell"
                        style="color:transparent;-webkit-text-stroke:1px #727272"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
</nav>