<div class="container bg-white p-3 pr-4 pt-4 pl-5">

    <div class="navbar-nav w-100 mb-4">
        <div class="d-flex justify-content-between w-100">
            <h6 class="h6 mb-1">Intent Name</h6>
            <button class="btn btn-outline-secondary text-dark font-weight-bold rounded-0 p-1 pl-4 pr-4" (click)="closeIntent()">Close</button>
        </div>
        <p class="text-muted mb-1 w-75">
            Intent represent a task that instinct AI needs to carry out.
        </p>
        <div class="d-flex w-75">
            <input type="text" name="" id="" class="border border-right-0 p-2 w-50" placeholder="I need help">
            <p class="text-right border border-left-0 p-2 mb-0">0/60</p>
        </div>
    </div>

    <div class="container-fluid ml-0 pl-0">
        <div class="d-flex flex-column mb-4">
            <h6 class="h6">Add utterance</h6>
            <p class="text-muted mb-3">
                Create atleast 5 variations to allow Makerobos's Natural Language Understanding (NLU) to automatically match intents with user input.
            </p>
            <div class="d-flex">
                <input type="text" name="" id="" class="border border-right-0 p-2 pr-3 w-75 mb-2" placeholder="Please help me">
                <p class="fa text-right text-muted border border-left-0 p-2 mb-0"><i class="bi-braces"></i>&nbsp;&#xf118;
                    0/1024</p>
            </div>
            <div class="d-flex">
                <input type="text" name="" id="" class="border border-right-0 p-2 pr-3 w-75"
                    placeholder="Need assistance" />
                <p class="fa text-right text-muted border border-left-0 p-2 mb-0"><i class="bi-braces"></i>&nbsp;&#xf118;
                    0/1024</p>
            </div>
            <button class="btn btn-secondary mt-3 p-1"><i class="bi-plus"></i>&nbsp;Add another variation</button>
        </div>
        <div class="d-flex flex-column mb-1 textArea">
            <label for="" class="h6">Add reply</label>
            <textarea name="" id="" class="border border-bottom-0 p-2 pr-3" placeholder="Bot says"></textarea>
            <p class="fa text-right text-muted border border-top-0 p-1 mb-0"><i class="bi-braces"></i>&nbsp;&#xf118;
                0/1024</p>
            <button class="btn btn-secondary p-1 mt-2"><i class="bi-plus"></i>&nbsp;Add random message</button>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center bg-white pb-3">
    <button class="btn myBtn">Create Intent</button>
</div>
