.container {
    width: 50vh;
    height: 88.9vh;
}

.navbar-nav>.nav-item {
    cursor: pointer;
}

.navbar-nav>.nav-item>.nav-link>button {
    font-weight: bold;
    border-radius: 0;
    transition: none;
}

.navbar-nav>.nav-item>.nav-link>span {
    font-weight: normal;
    font-size: small;
}

.navbar-nav>.nav-item>.nav-link>button:focus {
    box-shadow: none;
}

.addActive {
    border-left: 0.4vw solid #089270;
    background: #ffffff
}

.removeActive {
    border-left: 0.4vw solid transparent;
}