<div class="container">

    <div class="navbar-nav w-75">
        <h5 class="h5 mb-1">Catch All</h5>
        <p class="text-muted small">
            When Instinct AI fails to understand user utterance, you can choose one of the option to manage the bot
            failure without degrading user experience.
        </p>
    </div>

    <div class="container-fluid w-75 ml-0 pl-0">
        <select name="" id="" class="border p-2 mb-1">
            <option value="">Human handoff</option>
            <option value="">Add reply</option>
        </select>

        <div class="d-flex flex-column mb-1">
            <label for="" class="h6">Add reply</label>
            <textarea name="" id="" class="border border-bottom-0 p-2 pr-3" placeholder="Bot says"></textarea>
            <p class="fa text-right text-muted border border-top-0 p-1 mb-0"><i class="bi-braces"></i>&nbsp;&#xf118;
                0/1024</p>
            <button class="btn btn-secondary mt-2"><i class="bi-plus"></i>&nbsp;Add random message</button>
        </div>

        <div class="d-flex flex-column">
            <label for="" class="h6">Human Handoff</label>
            <select class="border p-2" name="" id="">
                <option value="">Assign agent</option>
            </select>
        </div>

    </div>

</div>